/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.shutup{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  Base Styles (element selectors)
*/

html {
  font-size: 1.125em; /* 18px / 16px = 1.125 */
  line-height: 1.2222222222em; /* 22px / 18x = 1.222... */
  padding-left: 1.2222222222em;
  padding-right: 1.2222222222em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.7768888889em;
  line-height: 1.0317658829em; /* 33px / 31.984px */
  padding-bottom: 0.687843922em; /* 22px / 31.984px = 0.687843922 */
  padding-top: 0.343921961em; /* 11px / 18px = 0.343921961 */
}

p {
  padding-bottom: 1.2222222222em;
}

/*
  Module
*/

nav ul {
  display: flex;
}
nav li {
  flex: 1 1 auto;
  float: left;
  width: 33.333333333%;
}
nav a {
  padding: 0.6111111111em 0;
  background: white;
  border: 1px solid green;
  border-radius: .5em;
  color: green;
  display: block;
  text-align: center;
  text-decoration: none;
}
#about #nav-abo,
#projects #nav-pro,
#contact #nav-con,
nav a:hover,
nav a:active,
nav a:focus {
  background: green;
  color: white;
}

/*
  Layout
*/

article {
  clear: both;
  padding: 1.2222222222em 0; /* 22px / 18x = 1.222... */
}
